# Python cache
__pycache__/
*.pyc

# File CSDL 
buser.db
*.sqlite3

# File cấu hình chứa bí mật (TOKEN, MẬT KHẨU)
config.json

# Các thư mục môi trường ảo (nếu bạn dùng)
.env
venv/
env/
.venv/

# Chặn toàn bộ thư mục uploads (bao gồm cả bills và kyc bên trong)
uploads
bills
kyc
# File nhật ký 
*.log
buser.log

# --- HỆ THỐNG & IDE (RÁC) ---
.DS_Store
Thumbs.db
.vscode/
.idea/
instance/